{% include "Head.twig" %}
<body>
<div class='row'>
    <div class='col-sm-offset-4 col-md-offset-4 col-lg-offset-4 col-sm-4 col-md-4 col-lg-4'>
        <div class='panel panel-primary'>
            <div class='panel-heading'>
                A Simple Little Thing
            </div>
            <div class='panel-body text-center'>
                <p>Enter your email below to get email</p>
                <form action='index.php' method='post' name='email_form'>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">@</span>
                        <input type="text" class="form-control" placeholder="Email Address" name='email_addr' aria-describedby="basic-addon1">
                    </div>
                    <input type='submit' class='btn btn-primary' value='Send Me More Spam'>
                </form>
            </div>
        </div>
    </div>
</div>
</body>