{% include 'Navbar.twig' %}
<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="alert alert-danger">
            {{ ErrorTitle }}
        </h1>
        <p>
            <span class="text-danger">Description:</span><br>
            {{ ErrorMessage }}
        </p>
    </div>
</div>