<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Replace with your favicon -->
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon" />

    <!-- JQuery Dependency -->
    <script src="/assets/jquery/dist/jquery.min.js" type="application/javascript"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap.min.css" >

    <!-- Bootstrap JavaScript -->
    <script src="/assets/bootstrap/dist/js/bootstrap.min.js" type="application/javascript"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- if issue then remove -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{ Application }}</title>
</head>
<body>