{% include 'Navbar.twig' %}
<div class="container-fluid">
    <div class="jumbotron">
        <h1>Welcome to {{ Application }}</h1>
        <p>Thanks for downloading! Have fun building PHP applications!</p>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Documentation
                </div>
                <div class="panel-body">
                    Feeling a bit confused? No problem check the wiki over on GitHub.
                </div>
                <div class="panel-footer">
                    <a href="https://github.com/lemoney/lemoney-php/wiki" class="btn btn-primary">Wiki</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Extending the Framework
                </div>
                <div class="panel-body">
                    Needing more functionality? Want to authenticate with a database or save sessions to redis? Checkout this page
                </div>
                <div class="panel-footer">
                    <a href="https://github.com/lemoney/lemoney-php/wiki/Extensions" class="btn btn-primary">Extending the Framework</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Getting Support
                </div>
                <div class="panel-body">
                    Needing some extra help or looking for an extra developer? Give me a shout out!
                </div>
                <div class="panel-footer">
                    <a href="mailto:github@travelerbell.net" class="btn btn-primary">Email Developer</a>
                </div>
            </div>
        </div>
    </div>
</div>